{% set api_host = hostvars[inventory_hostname].ansible_host | default(inventory_hostname) %}
{% set advertised_host = api_host %}
{% if vault_dns_zone | default('') %}
{%   set advertised_host = inventory_hostname ~ '.' ~ vault_dns_zone %}
{% endif %}
{% set base_env = {
  'VAULT_ADDR': vault_api_scheme ~ '://' ~ advertised_host ~ ':' ~ (vault_api_port | string),
  'VAULT_API_ADDR': vault_api_scheme ~ '://' ~ advertised_host ~ ':' ~ (vault_api_port | string),
  'VAULT_CLUSTER_ADDR': vault_cluster_scheme ~ '://' ~ advertised_host ~ ':' ~ (vault_cluster_port | string)
} %}
{% set final_env = base_env | combine(vault_service_environment | default({}), recursive=False) %}
# Managed by Ansible. Manual edits will be overwritten.
{% for key, value in final_env.items() %}
{{ key }}={{ value }}
{% endfor %}
{% if vault_extra_cli_opts %}
VAULT_EXTRA_CLI_OPTS={{ vault_extra_cli_opts }}
{% endif %}
